# Les dossiers de toutes les soumissions LWE/NTRU étudiées, 
# téléchargés depuis le site du NIST :
# https://csrc.nist.gov/projects/post-quantum-cryptography/round-1-submissions
Compact-LWE-Public-Key-Enc/*
CRYSTALS-Dilithium/*
CRYSTALS-Kyber/*
Ding_LWE_Key_Exchange/*
DRS/*
EMBLEM_R_EMBLEM/*
falcon_final/*
Frodo/*
Hila5/*
KINDI/*
LAC/*
Lima/*
LOTUS/*
NewHope/*
NISTLizardFinal/*
NIST-PQ-Submission-NTRU-HRSS-KEM-20171130/*
NTRUEncrypt/*
ntruprime-20171214/*
OKCN_AKCN_CNKE/*
pqNTRUsign/*
qTESLA/*
Round2/*
SABER_KEM/*
submission/*
Titanium/*

# Les rendus pdf des fichiers markdown
*.pdf

# Tests de performances du NIST, envoyé sur le google group [pqc-forum]
# "The attached spreadsheet contains a baseline of the number of cycles
# taken (and the number of bytes used) to run all various submissions
# and instantiations we’ve received  (except for those where the
# submitters have conceded that their submissions did not meet the
# minimum NIST security levels) when run on the NIST reference platform."
Performance_Testing_TestPlatform.xlsx


# Les fichiers compilés
*.o
